.section-login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color3);
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 60%;
    background-color: var(--color2);
    box-shadow: var(--box-shadow);

}

.title {
    text-align: center;
}

.show-msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    width: 250px;
}

.hide-msgError {
    display: none;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 60px;
}

.input-group {
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type=email]:focus {
    outline: 0;
}

form input[type=password]:focus {
    outline: 0;
}

.btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.btn-group a {
    transition: var(--transition);
    position: relative;
    top: 15px
}

.btn-group a:hover {
    transform: scale(1.1);
    text-transform: uppercase;
    transition: var(--transition);
}

/* small devices */
@media only screen and (max-width: 768px) {

    .container-form {
        height: 500px;
        width: 300px;

    }

}

/* large devices */
@media only screen and (min-width: 769px) {

    .container-form {
        height: 500px;
        width: 500px;

    }

}